---
layout: default
title: Articles
---

<div id="home">
  <div class="posts">
    {% for post in site.posts limit: 5%}
    <h2>
      <a href="{{post.url}}">{{post.title}}</a>
      <small>
        <span class="glyphicon glyphicon-time"></span>
        Posted on {{post.date | date_to_string}}
      </small>
    </h2>
    <div>{{post.content}}</div>
    {% unless forloop.last == true %}
    <hr>
    {% endunless %}
    {% endfor %}
  </div>

  <ul class="more-posts">
    {% for post in site.posts offset: 5%}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

