---
title: Diego Guerra
layout: master
---

<div class="container">
  <div class="page-header">
    <h1><a href="/">{{site.name}}</a></h1>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <p class="me">
        <img src="/images/me.jpg" class="img-circle img-responsive" />
      </p>
    </div>
    <div class="col-lg-4">
      <h2><a href="/blog.html">Blog</a></h2>
      <ul class="posts">
        {% for post in site.posts limit: 4%}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        <li>
          <a href="/archive.html">...more</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4">
      <h2><a href="http://github.com/dgsuarez">Code</a></h2>
      <ul class="code">
        {% for code in site.githubs limit: 4%}
        <li><a href="{{ code.url }}">{{ code.name }}</a></li>
        {% endfor %}
        <li>
          <a href="http://github.com/dgsuarez">...more</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-offset-3">
      <p>Hi there, I'm Diego Guerra, a Software Engineer from northern Spain
        working at <a href="http://sweetspotintelligence.com">Sweetspot Intelligence</a>.
        I like to <a href="http://github.com/dgsuarez">write code</a> and 
        <a href="/blog.html">write about writing code</a>.
      </p>
    </div>
  </div>
</div>
