---
layout: master
---

<div class="container">
  <div class="page-header">
    <h1><a href="/">{{site.name}}</a></h1>
  </div>
  <div class="row">
    <div class="col-lg-3">
      {% include me.html %}
    </div>
    <div class="col-lg-9 main-description">
      {% include description.html %}

      <p class="projects">
        If you want to check out some of my projects, Some of my favorites are
        <a href="https://github.com/dgsuarez/reruby">Reruby</a>, a Ruby
        refactoring CLI tool, <a href="https://github.com/dgsuarez/similatron">Similatron</a>,
        a PDF &amp; image comparison engine specially designed for use in tests (also for Ruby), and
        <a href="https://github.com/dgsuarez/ticard">Ticard</a>, an easy way to work with Trello
        cards almost anywhere.
      </p>

      <p class="projects">
        Also, over the years some people have found my
        <a href="https://github.com/dgsuarez/.dotfiles">.dotfiles</a> useful,
        and you may be interested in a <a href="http://dgsuarez.es/programs_that_understand">metaprogramming comparison</a>
        between Ruby and Crystal, expanded from one of my talks.
      </p>
    </div>
  </div>
</div>
