---
layout: master
---
<div class="container">

  <div class="page-header">
    <h1><a href="/">{{site.name}}</a></h1>

  </div>

  <div class="row">
    <div class="col-lg-9 content">
      {{content}}
    </div>

    <div class="col-lg-3 sidebar">
      <div class="well">
        <p class="me">
          <img src="/images/me.jpg" class="img-circle img-responsive" />
        </p>
        <p>Hi there, I'm Diego Guerra. I write about code and... well, mostly about code.</p>
        <p>You can look at <a href="http://github.com/dgsuarez">some of it on github</a> and
          follow me on <a href="http://twitter.com/dg_suarez">twitter</a>.</p>

        <p>Oh, and don't forget to <a href="/feed.xml">subscribe to this blog!</a></p>
      </div>
    </div>

  </div>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Diego Guerra 2014</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->
