---
layout: master
---
<div class="container">

  {% unless layout.skip_page_header %}
    <div class="page-header">
      <h1><a href="/">{{page.title || site.name}}</a></h1>
    </div>
  {% endunless %}

  <div class="row">
    <div class="col-lg-9 content">
      {{content}}
    </div>

    <div class="col-lg-3 sidebar">
      <div class="sidebar-content {% if layout.skip_page_header %}no-header{% endif %}">
        {% include me.html %}

        {% include description.html %}

        <p>Oh, and don't forget to <a href="/feed.xml">subscribe to my new articles!</a></p>
      </div>
    </div>

  </div>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <hr />
        <p>Diego Guerra </p>
        {% include contact.html %}
      </div>
    </div>
  </footer>

</div>
